<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="6.0.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net452" />
  <package id="FastMember" version="1.1.0" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net452" />
</packages>